* {
    font-family: 'Sen' , sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(162, 227, 253), rgb(6, 171, 247)) no-repeat fixed;
    background-size: 300%;
    margin: 0;
    animation: degrade 10s ease alternate infinite;
}

.form-content {
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    margin: auto;
    animation: aparecer 1s linear 1;
}

.content__form-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 40px;
    max-width: 450px;
    min-height: 550px;
    flex-basis: 100%;
    margin: 20px;
    height: 75%;
    justify-content: space-between;
    box-shadow: 0px 7px 30px #000000;
    position: relative;
    animation: flotar 3s ease-in-out alternate infinite;
}

.iniciar-sesion {
    display: flex;
    align-self: center;
    font-size: 18px;
}

.content__form-container > label {
    display: flex;
    align-items: end;
}

.form__inputs {
    display: flex;
    position: relative;
}

.form__contraseña, .form__nombre-usuario {
    flex-basis: 100%;
    margin: 10px auto;
    padding: 10px 30px;
    border: none;
    border-bottom: 2px solid #bbb;
    outline: none;
    transition: all .12s;
}

.fa-user {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 5px;
    top: 49%;
    transform: translateY(-50%);
    color: #2d87ee;
}

.fa-eye {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 49%;
    transform: translateY(-50%);
    color: #2d87ee;
}

.form__inputs-button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.form__inputs-check {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 40%;
}

.form__olvidaste-contra {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: end;
    font-size: 14px;
}

.form__inputs-check-container {
    display: flex;
}

.form__boton-sesion {
    border: none;
    border-radius: 2px;
    flex-basis: 100%;
    padding: 20px 10px;
    background-color: #2d87ee;
    color: #fff;
    font-size: 16px;
    transition: all .12s;
}

.form__boton-sesion:hover {
    background-color: #1b68c0;
    color: #ffffff;
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: #000000;
    transition: color .12s;
}

a:hover {
    color: #444;
}

.form-registrarse {
    display: flex;
    justify-content: center;
}

.form__contraseña:focus, .form__nombre-usuario:focus {
    border-bottom: 2px solid #1b68c0;
    background-color: #f8f8f8;
} 

@keyframes degrade {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@keyframes flotar {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0)}
}

@keyframes aparecer {
    0% {opacity: 0;}
    50% {opacity: 50%;}
    100% {opacity: 100%;}
}